@import "../../vars.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
    overflow-x: hidden; /* Adicionado para remover a rolagem horizontal */
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 30px; /* Aumentado para maior espaçamento */
}

.content {
    display: flex;
    flex-direction: column; /* Alterado para column */
    align-items: center;
    margin-top: 14px;
}

.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    justify-content: center; /* Centraliza as habilidades */
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    transition: all 0.3s ease; /* Transição suave para o efeito hover */
}

.skill:hover {
    opacity: 0.8; /* Efeito de fade ao passar o mouse */
}

.skillImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.skillImageContainer img {
    width: 75px;
    transition: opacity 0.3s ease; /* Transição suave para o efeito hover */
}

.skill:hover .skillImageContainer img {
    opacity: 0.8; /* Efeito de fade ao passar o mouse */
}

.skill p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow: hidden; /* Evita rolagem horizontal nos projetos */
}

.project {
    background-color: #3d0042;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img {
    width: 100%;
    border-radius: 10px;
}

.projectDetails {
    margin-top: 10px;
    text-align: center;
}

.projectTitle {
    font-size: 20px;
    font-weight: 700;
}

.projectDescription {
    font-size: 16px;
    margin-top: 5px;
}

.projectTags {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.projectTag {
    background-color: var(--color-primary);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.arrow {
    cursor: pointer;
    font-size: 24px;
    color: var(--color-primary);
}

@media screen and (max-width: 830px) {
    .content {
        align-items: center;
    }

    .skills {
        justify-content: center;
    }

    .projectsContainer {
        flex-direction: column;
    }

    .project {
        width: 80%;
        margin-bottom: 20px;
    }
}
