/* NavBar.module.css */

@import "../../vars.css";

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.menu {
    display: flex;
    align-items: center;
}

.menuItens {
    display: flex;
    gap: 30px;
    list-style: none;
}

.menuItens a {
    font-size: 20px;
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.3s ease;
}

.menuItens a:hover {
    color: var(--color-primary);
}

.menuBtn {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--color-text);
}

@media screen and (max-width: 830px) {
    .menuBtn {
        display: block;
    }

    .menuItens {
        position: absolute;
        top: 60px;
        right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;
        background: rgba(48, 3, 90, 0.568);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: none;
    }


    
    .menuItens a {
        font-size: 18px;
    }

    .menuOpen {
        display: flex;
    }
}
