* {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Impede que qualquer conteúdo cause rolagem horizontal */
  scroll-behavior: smooth;    /* Para o site scrollar lentamente */
}


