:root {
    /* Cores */
    --color-text: #fff;
    --color-primary: #360457a4;
    --color-secondary: #35004e;
    --color-dark: #3a0053a2;
    --color-bg: #1a002c;

    /* Fontes */
    --font-robot: "Roboto";
}